body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    margin-top: 20px;
}

.left-panel {
    flex: 1;
    background-color: lightblue;
    padding: 20px;
}

.right-panel {
    flex: 1;
    background-color: plum;
    padding: 20px;
}

h1 {
    background-color: yellow;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}
.image {
    max-width: 100%;
    height: auto;
}

.footer {
    margin-top: 20px;
    text-align: center;
}