h1 {
    color:gray;
    border-style: ridge;
    text-shadow: 2px 2px #000;
    text-align: center;
    box-shadow: 15px 15px 15px 15px;
    background-color: white;
}

input[type=submit], input[type=reset] {
    background-color: #4caf50;
    border: 4px solid #ccc;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    
}

body{
    margin: 80px 30%;
    background: whitesmoke;
}

p{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: double;
}
form {
    background-color: white;
    box-shadow: 15px 15px 15px 15px;
    text-align: center;
}